 <style>
.propic {
  width: 140px;
  height: 140px;
}
    </style>
</head>
  <header>
        <div class="header-content">
            <div class="header-content-inner">

            </div>
        </div>
    </header>



                            <div class="box">
                    <hr class="home">
                    <h2 class="intro-text text-center">
                        <strong>Trending Activities</strong>
                    </h2>
                    <hr class="home">
               </div>

    <section class="no-padding" id="portfolio" style="padding:40px;">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6 col-xs-6">
                    <a href="#" class="portfolio-box">
                        <img src="/assets/1.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">

                                <div class="project-name">
                                    종합공예
                                </div>
                                <div class="project-category text-faded">
                                    위치: 서울시 강남구 대치동 대치문화센터 <br>
                                    대상: 만 6~8세
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-6">
                    <a href="#" class="portfolio-box">
                        <img src="/assets/2.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                               <div class="project-name">
                                    보드게임
                                </div>
                                <div class="project-category text-faded">
                                    위치: 서울시 강남구 대치동 대치문화센터 <br>
                                    대상: 무관
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-6">
                    <a href="#" class="portfolio-box">
                        <img src="/assets/3.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    아이 프로필 사진 찍기
                                </div>
                                <div class="project-category text-faded">
                                    위치: 서울시 강남구 대치동 대치문화센터 <br>
                                    대상: 무관
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-sm-6 col-xs-6">
                    <a href="#" class="portfolio-box">
                        <img src="/assets/4.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    집에서 요리 하기!
                                </div>
                                <div class="project-category text-faded">
                                    위치: 서울시 강남구 대치동 대치문화센터 <br>
                                    대상: 만 6세~10세
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-6">
                    <a href="#" class="portfolio-box">
                        <img src="/assets/5.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    아이가 좋아하는 맛집가기
                                </div>
                                <div class="project-category text-faded">
                                    위치: 내니와 협의 <br>
                                    대상: 무관
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-6">
                    <a href="/museums" class="portfolio-box">
                        <img src="/assets/6.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    박물관 투어
                                </div>
                                <div class="project-category text-faded">
                                    위치: 서울시 용산구 전쟁기념박물관 <br>
                                    대상: 만 6세~10세
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

            <div class="row">
                            <div class="box">
                    <hr class="home">
                    <h2 class="intro-text text-center">
                        <strong>Our Team</strong>
                    </h2>
                    <hr class="home">
               </div>
            </div>

       <div class="container">
             <div class="row">
                        <div class="col-sm-4 col-xs-4" style="text-align:center">
                            <img class="img-circle img-responsive img-center propic" src="/assets/Inyoung.png" style="display: block; margin: 0 auto;">
                            <h4>Inyoung Lee</h4>
                            <p class="text-muted">Lead Designer</p>
                        </div>

                        <div class="col-sm-4 col-xs-4" style="text-align:center">
                            <img class="img-circle img-responsive img-center propic" src="/assets/Young.png" style="display: block; margin: 0 auto;">
                            <h4>Young Lee</h4>
                            <p class="text-muted">Lead Designer</p>
                        </div>

                        <div class="col-sm-4 col-xs-4" style="text-align:center">
                            <img class="img-circle img-responsive img-center propic" src="/assets/Adora.png" style="display: block; margin: 0 auto;">
                            <h4>Adora Choi</h4>
                            <p class="text-muted">Lead Marketer</p>
                        </div>
            </div>
        </div>
    </div>


    <!-- jQuery -->
    <script src="/assets/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/assets/bootstrap.min.js"></script>

</body>

      <!-- Example row of columns -->
      <div class="container">
          <!-- 여기다 서비스 소개 -->
      </div>

    <div class="contianer">
      <footer>
        &copy; BabyUp
      </footer>
    </div> <!-- /container -->
