<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="">

    <link rel="stylesheet" href="/assets/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css" type="text/css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <meta name="description" content="Animated Checkboxes and Radio Buttons with SVG: Using SVG for adding some fancy 'check' animations to form inputs" />
    <meta name="keywords" content="animated checkbox, svg, radio button, styled checkbox, css, pseudo element, form, animated svg" />
    <meta name="author" content="Codrops" />
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="/assets/normalize.css">
    <link rel="stylesheet" type="text/css" href="/assets/demo.css">
    <link rel="stylesheet" type="text/css" href="/assets/component.css">
    <link rel="stylesheet" href="/assets/creative.css" type="text/css">
    <script src="/assets/modernizr.custom.js"></script>

</head>


<body>
   <div class="container" style="margin-top: 50px;">
         <h1> 마이페이지: 회원정보 수정. 내 리뷰보기 등등</h1>
   </div>
</body>