
      *{
          -ms-box-sizing: border-box;
        	-moz-box-sizing: border-box;
        	-webkit-box-sizing: border-box;
        	box-sizing: border-box;
          margin: 0;
          padding: 0;
          border: 1;
        }
        html, body{
          width: 100%;
          height: 100%;
          background: image-url('sativa.png') repeat fixed;
          font-family: 'Open Sans', sans-serif;
          font-weight: 200;
        }
        .login_container{
          width: 400px;
          height: 400px;
          position: absolute;
          padding: 10px;
          top: 120px;
          left: 450px;
          background: white;
          border-radius: 5%;
        }
        #login_head{
          font-family: Arial;
        }

        h5 {
          font-weight: bold;
        }
